.root{
    -fx-font-family: "Source Code Pro Semibold";
    -fx-base: #444;
    -fx-background: #444;
    -fx-accent: #444;
    -fx-focus-color: #444;
}

.label {}

.list-view {}

.scroll-pane {
    -fx-padding: 5px;
}